In [15]:
import pandas as pd
df=pd.read_csv("houseprices.csv")
df

,OrganisationLabel,OrganisationURI,PublishedDate,LatestData,DurationFrom,DurationTo,ReportingPeriodType,Month,GeoEntityName,GeoCode,GeoName,GeoURI,AveragePrice,AveragePriceDetached,AveragePriceSemiDetached,AveragePriceTerraced,AveragePriceFlatOrMaisonette
0,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2021-06-02T00:00:00,True,2021-03-01T00:00:00,2021-03-31T23:59:59,Month,2021-03,County,E10000019,Lincolnshire,http://statistics.data.gov.uk/doc/statistical-...,207398,273965,183114,148849,107207
1,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2021-06-02T00:00:00,True,2021-03-01T00:00:00,2021-03-31T23:59:59,Month,2021-03,District Council,E07000136,Boston,http://statistics.data.gov.uk/doc/statistical-...,174063,240313,148996,119872,86644
2,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2021-06-02T00:00:00,True,2021-03-01T00:00:00,2021-03-31T23:59:59,Month,2021-03,District Council,E07000137,East Lindsey,http://statistics.data.gov.uk/doc/statistical-...,200819,249636,170302,135206,95451
3,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2021-06-02T00:00:00,True,2021-03-01T00:00:00,2021-03-31T23:59:59,Month,2021-03,District Council,E07000138,Lincoln,http://statistics.data.gov.uk/doc/statistical-...,171574,277376,185465,143647,110498
4,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2021-06-02T00:00:00,True,2021-03-01T00:00:00,2021-03-31T23:59:59,Month,2021-03,District Council,E07000139,North Kesteven,http://statistics.data.gov.uk/doc/statistical-...,232949,283618,191420,158763,107123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2021-06-02T00:00:00,NaN,2020-04-01T00:00:00,2020-04-30T23:59:59,Month,2020-04,District Council,E07000138,Lincoln,http://statistics.data.gov.uk/doc/statistical-...,156427,251369,169592,130307,103296
92,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2021-06-02T00:00:00,NaN,2020-04-01T00:00:00,2020-04-30T23:59:59,Month,2020-04,District Council,E07000139,North Kesteven,http://statistics.data.gov.uk/doc/statistical-...,205193,248974,169316,139664,98161
93,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2021-06-02T00:00:00,NaN,2020-04-01T00:00:00,2020-04-30T23:59:59,Month,2020-04,District Council,E07000140,South Holland,http://statistics.data.gov.uk/doc/statistical-...,188463,233784,159841,130500,84714
94,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2021-06-02T00:00:00,NaN,2020-04-01T00:00:00,2020-04-30T23:59:59,Month,2020-04,District Council,E07000141,South Kesteven,http://statistics.data.gov.uk/doc/statistical-...,223172,313823,202602,163240,111683
95,Lincolnshire,http://opendatacommunities.org/id/county-counc...,2021-06-02T00:00:00,NaN,2020-04-01T00:00:00,2020-04-30T23:59:59,Month,2020-04,District Council,E07000142,West Lindsey,http://statistics.data.gov.uk/doc/statistical-...,171077,225452,145868,118973,91268

In [16]:
df1=df[["Month","GeoCode","GeoName","AveragePrice","AveragePriceDetached","AveragePriceSemiDetached","AveragePriceTerraced"]]
df1

,Month,GeoCode,GeoName,AveragePrice,AveragePriceDetached,AveragePriceSemiDetached,AveragePriceTerraced
0,2021-03,E10000019,Lincolnshire,207398,273965,183114,148849
1,2021-03,E07000136,Boston,174063,240313,148996,119872
2,2021-03,E07000137,East Lindsey,200819,249636,170302,135206
3,2021-03,E07000138,Lincoln,171574,277376,185465,143647
4,2021-03,E07000139,North Kesteven,232949,283618,191420,158763
...,...,...,...,...,...,...,...
91,2020-04,E07000138,Lincoln,156427,251369,169592,130307
92,2020-04,E07000139,North Kesteven,205193,248974,169316,139664
93,2020-04,E07000140,South Holland,188463,233784,159841,130500
94,2020-04,E07000141,South Kesteven,223172,313823,202602,163240
95,2020-04,E07000142,West Lindsey,171077,225452,145868,118973

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Month                     96 non-null     object
 1   GeoCode                   96 non-null     object
 2   GeoName                   96 non-null     object
 3   AveragePrice              96 non-null     int64
 4   AveragePriceDetached      96 non-null     int64
 5   AveragePriceSemiDetached  96 non-null     int64
 6   AveragePriceTerraced      96 non-null     int64
dtypes: int64(4), object(3)
memory usage: 5.4+ KB

In [33]:
import pandas as pd
df2=pd.read_csv("Bengaluru_House_Data.csv")
df2

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [47]:
df3=pd.read_csv("Bengaluru_House_Data.csv", nrows=40)
df3

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6,NaN,370.00
10,Super built-up Area,18-Feb,Whitefield,3 BHK,NaN,1800,2,2.0,70.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2,1.0,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,NaN,1100,2,2.0,40.00
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3,2.0,148.00
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2,2.0,73.50
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3,2.0,48.00
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3,3.0,60.00
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4,2.0,290.00
19,Super built-up Area,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100,2,2.0,48.00
20,Built-up Area,Ready To Move,Kengeri,1 BHK,NaN,600,1,1.0,15.00
21,Super built-up Area,19-Dec,Binny Pete,3 BHK,She 2rk,1755,3,1.0,122.00
22,Plot Area,Ready To Move,Thanisandra,4 Bedroom,Soitya,2800,5,2.0,380.00
23,Super built-up Area,Ready To Move,Bellandur,3 BHK,NaN,1767,3,1.0,103.00
24,Super built-up Area,18-Nov,Thanisandra,1 RK,Bhe 2ko,510,1,0.0,25.25
25,Super built-up Area,18-May,Mangammanapalya,3 BHK,NaN,1250,3,2.0,56.00
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,660,1,1.0,23.10
27,Built-up Area,20-Dec,Whitefield,3 BHK,NaN,1610,3,2.0,81.00
28,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1151,2,2.0,48.77
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2,1.0,47.00
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,LedorSa,2100 - 2850,4,0.0,186.00
31,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1075,2,1.0,35.00
32,Super built-up Area,Ready To Move,Hebbal,3 BHK,Mahosya,1760,2,2.0,123.00
33,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1693,3,3.0,57.39
34,Built-up Area,Ready To Move,Kasturi Nagar,3 BHK,Kantsce,1925,3,NaN,125.00
35,Super built-up Area,21-Dec,Kanakpura Road,2 BHK,PrarePa,700,2,1.0,36.00
36,Super built-up Area,Ready To Move,Electronics City Phase 1,2 BHK,NaN,1070,2,1.0,45.50
37,Super built-up Area,Ready To Move,Kundalahalli,3 BHK,Dieldli,1724,3,2.0,125.00
38,Super built-up Area,Ready To Move,Chikkalasandra,3 BHK,NaN,1290,2,2.0,56.12
39,Built-up Area,Ready To Move,Uttarahalli,2 BHK,NaN,1143,2,2.0,45.00

In [48]:
df4=df3.replace({
    'size':['4 Bedroom','6 Bedroom','3 Bedroom']
   },{'size':['4 BHK','6 BHK','3 BHK']})
df4

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 BHK,Theanmp,2600,5,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 BHK,NaN,1020,6,NaN,370.00
10,Super built-up Area,18-Feb,Whitefield,3 BHK,NaN,1800,2,2.0,70.00
11,Plot Area,Ready To Move,Whitefield,4 BHK,Prrry M,2785,5,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2,1.0,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,NaN,1100,2,2.0,40.00
14,Plot Area,Ready To Move,Sarjapur,3 BHK,Skityer,2250,3,2.0,148.00
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2,2.0,73.50
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3,2.0,48.00
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3,3.0,60.00
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4,2.0,290.00
19,Super built-up Area,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100,2,2.0,48.00
20,Built-up Area,Ready To Move,Kengeri,1 BHK,NaN,600,1,1.0,15.00
21,Super built-up Area,19-Dec,Binny Pete,3 BHK,She 2rk,1755,3,1.0,122.00
22,Plot Area,Ready To Move,Thanisandra,4 BHK,Soitya,2800,5,2.0,380.00
23,Super built-up Area,Ready To Move,Bellandur,3 BHK,NaN,1767,3,1.0,103.00
24,Super built-up Area,18-Nov,Thanisandra,1 RK,Bhe 2ko,510,1,0.0,25.25
25,Super built-up Area,18-May,Mangammanapalya,3 BHK,NaN,1250,3,2.0,56.00
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,660,1,1.0,23.10
27,Built-up Area,20-Dec,Whitefield,3 BHK,NaN,1610,3,2.0,81.00
28,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1151,2,2.0,48.77
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2,1.0,47.00
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,LedorSa,2100 - 2850,4,0.0,186.00
31,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1075,2,1.0,35.00
32,Super built-up Area,Ready To Move,Hebbal,3 BHK,Mahosya,1760,2,2.0,123.00
33,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1693,3,3.0,57.39
34,Built-up Area,Ready To Move,Kasturi Nagar,3 BHK,Kantsce,1925,3,NaN,125.00
35,Super built-up Area,21-Dec,Kanakpura Road,2 BHK,PrarePa,700,2,1.0,36.00
36,Super built-up Area,Ready To Move,Electronics City Phase 1,2 BHK,NaN,1070,2,1.0,45.50
37,Super built-up Area,Ready To Move,Kundalahalli,3 BHK,Dieldli,1724,3,2.0,125.00
38,Super built-up Area,Ready To Move,Chikkalasandra,3 BHK,NaN,1290,2,2.0,56.12
39,Built-up Area,Ready To Move,Uttarahalli,2 BHK,NaN,1143,2,2.0,45.00

In [67]:
g = df4.groupby(["availability","size","price"])
g

In [69]:
g.get_group(('Ready To Move','3 BHK',125))

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
34,Built-up Area,Ready To Move,Kasturi Nagar,3 BHK,Kantsce,1925,3,NaN,125.0
37,Super built-up Area,Ready To Move,Kundalahalli,3 BHK,Dieldli,1724,3,2.0,125.0

In [57]:
df4.isnull().sum()

area_type        0
availability     0
location         0
size             0
society         14
total_sqft       0
bath             0
balcony          4
price            0
dtype: int64

In [58]:
df5=df4.dropna()
df5

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 BHK,Theanmp,2600,5,3.0,120.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3,1.0,95.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2,1.0,38.00
11,Plot Area,Ready To Move,Whitefield,4 BHK,Prrry M,2785,5,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2,1.0,38.00
14,Plot Area,Ready To Move,Sarjapur,3 BHK,Skityer,2250,3,2.0,148.00
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2,2.0,73.50
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3,2.0,48.00
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3,3.0,60.00
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4,2.0,290.00
21,Super built-up Area,19-Dec,Binny Pete,3 BHK,She 2rk,1755,3,1.0,122.00
22,Plot Area,Ready To Move,Thanisandra,4 BHK,Soitya,2800,5,2.0,380.00
24,Super built-up Area,18-Nov,Thanisandra,1 RK,Bhe 2ko,510,1,0.0,25.25
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,660,1,1.0,23.10
28,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1151,2,2.0,48.77
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2,1.0,47.00
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,LedorSa,2100 - 2850,4,0.0,186.00
31,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1075,2,1.0,35.00
32,Super built-up Area,Ready To Move,Hebbal,3 BHK,Mahosya,1760,2,2.0,123.00
33,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1693,3,3.0,57.39
35,Super built-up Area,21-Dec,Kanakpura Road,2 BHK,PrarePa,700,2,1.0,36.00
37,Super built-up Area,Ready To Move,Kundalahalli,3 BHK,Dieldli,1724,3,2.0,125.00

In [59]:
df5.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [62]:
df6=df4.fillna(value={
      'society':'not available',
    'balcony':'not available'
})
df6

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2,1,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 BHK,Theanmp,2600,5,3,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,not available,1440,2,3,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3,1,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,not available,1200,2,1,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2,1,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4,not available,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4,not available,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,not available,1310,3,1,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 BHK,not available,1020,6,not available,370.00
10,Super built-up Area,18-Feb,Whitefield,3 BHK,not available,1800,2,2,70.00
11,Plot Area,Ready To Move,Whitefield,4 BHK,Prrry M,2785,5,3,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2,1,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,not available,1100,2,2,40.00
14,Plot Area,Ready To Move,Sarjapur,3 BHK,Skityer,2250,3,2,148.00
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2,2,73.50
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3,2,48.00
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3,3,60.00
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4,2,290.00
19,Super built-up Area,Ready To Move,Manayata Tech Park,2 BHK,not available,1100,2,2,48.00
20,Built-up Area,Ready To Move,Kengeri,1 BHK,not available,600,1,1,15.00
21,Super built-up Area,19-Dec,Binny Pete,3 BHK,She 2rk,1755,3,1,122.00
22,Plot Area,Ready To Move,Thanisandra,4 BHK,Soitya,2800,5,2,380.00
23,Super built-up Area,Ready To Move,Bellandur,3 BHK,not available,1767,3,1,103.00
24,Super built-up Area,18-Nov,Thanisandra,1 RK,Bhe 2ko,510,1,0,25.25
25,Super built-up Area,18-May,Mangammanapalya,3 BHK,not available,1250,3,2,56.00
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,660,1,1,23.10
27,Built-up Area,20-Dec,Whitefield,3 BHK,not available,1610,3,2,81.00
28,Super built-up Area,17-Oct,Ramagondanahalli,2 BHK,ViistLa,1151,2,2,48.77
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2,1,47.00
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,LedorSa,2100 - 2850,4,0,186.00
31,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1075,2,1,35.00
32,Super built-up Area,Ready To Move,Hebbal,3 BHK,Mahosya,1760,2,2,123.00
33,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1693,3,3,57.39
34,Built-up Area,Ready To Move,Kasturi Nagar,3 BHK,Kantsce,1925,3,not available,125.00
35,Super built-up Area,21-Dec,Kanakpura Road,2 BHK,PrarePa,700,2,1,36.00
36,Super built-up Area,Ready To Move,Electronics City Phase 1,2 BHK,not available,1070,2,1,45.50
37,Super built-up Area,Ready To Move,Kundalahalli,3 BHK,Dieldli,1724,3,2,125.00
38,Super built-up Area,Ready To Move,Chikkalasandra,3 BHK,not available,1290,2,2,56.12
39,Built-up Area,Ready To Move,Uttarahalli,2 BHK,not available,1143,2,2,45.00

In [63]:
df6.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [64]:
df3.describe()

            bath    balcony       price
count  40.000000  36.000000   40.000000
mean    2.750000   1.638889  112.198750
std     1.149136   0.798312  120.469796
min     1.000000   0.000000   15.000000
25%     2.000000   1.000000   45.375000
50%     2.500000   2.000000   61.000000
75%     3.000000   2.000000  123.500000
max     6.000000   3.000000  600.000000